*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
    color: black;
}
header{
    min-height: 60vh;
    background: rgba(153, 255, 153, 0.185);
    background-size: 300% 300%;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
}
.capa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.imagem-capa{
    height: 350px;
    width: 350px;
    border-radius: 14px;
    box-shadow: 0 8px 14px;
}
h2{
    margin-bottom: 40px;
    font-size: 55px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px;
}
.topico1 h3{
    margin-bottom: 20px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
.topico1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topico2 h3{
    margin-bottom: 20px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul li{
    padding: 10px;
    margin-left: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container2{
    padding: 60px 40px;
}
.titulos {
    margin-bottom: 20px;
    font-size: 23px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulos p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards{
    display: flex;
    gap: 30px;
}
.card{
    background: #d2d2d2;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 6px 14px;
    flex: 1;
}
.texto{
    margin-bottom: 24px;
    color: #1f1f1f;
    line-height: 1.5;
}
.autor {
    display: flex;
    align-items: center;
    gap: 12px;
}
img{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 6px 12px;
    margin: auto;
    padding: auto;
}
.voltar{
    background: rgba(185, 185, 185, 0.95);
    color: #111;
    padding: 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    padding: auto;
    max-width: 350px;
}
.voltar:hover{
     background: linear-gradient(135deg, #2ecc71, #27ae60, #000000);
}
footer{
    background: #111;
    color: #aaa;
    padding: 30px 20px;
    text-align: center;
}
.footer-social{
    margin-top: 15px;
    gap: 20px;
}
.footer-social a{
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}
.footer-social a:hover{
    color: #1e88e5;
}
@media (max-width: 768px) {

    header {
        padding: 20px;
        gap: 40px;
    }

    .capa {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .imagem-capa {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .container {
        padding: 40px 20px;
        gap: 40px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    img {
        width: 100%;
        max-width: 90%;
    }

    footer {
        padding: 25px 15px;
    }
}
